/* Base Styles */
header {
  background-color: gainsboro;
}

h1 {
  font-family: 'Shadows Into Light Two', cursive;
  color: cornflowerblue;
  text-align: center;
  font-size: 50pt;
  padding: 20px 0px 20px 0px;
}

h3 {
  color: darkslategray;
  font-family: 'Shadows Into Light Two', cursive;
  color: cornflowerblue;
  font-size: 20pt;
}

nav {
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 10px;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 14pt;
  color: slategray;
}

.hidden {
  display: none;
}

#quote p {
  margin-top: 20px;
  margin-left:20px;
  margin-right:20px;
  text-align: center;
  font-family: 'Shadows Into Light Two', cursive;
  font-size:14pt;
  font-weight: bold;
  color: cornflowerblue;
}

.intro {
  text-align: center;
}

.box {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  background-color: gainsboro;
}

.profile {
  border-radius: 50%;
  display: block;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}

.profile:hover {
  transform: scale(1.1)
}

.people {
  height: 200px;
  margin-right: 20px;
  border-radius: 3%;
}

.baby_oak {
  width: 200px;
  margin-right: 20px;
  border-radius: 3%;
}

.intro {
  padding: 30px;
}

.button {
  text-align: center;
  padding: 30px;
}

.card {
  margin: 20px 0px 20px 0px;
}

.randompic {
  height: 300px;
  border-radius: 3%;
  padding-bottom: 40px;
}

/* Media Queries*/

@media only screen and (min-width: 768px) {
  h1 {
    font-family: 'Shadows Into Light Two', cursive;
    color: cornflowerblue;
    text-align: center;
    font-size: 60pt;
  }

  .quote p {
    margin-top: 20px;
  }

  .box h3 {
    font-size: 40pt;
  }
}
